# Entity service configurations file

APPLICATION_PORT = 5001
APPLICATION_ENV ="development"
APPLICATION_BASE_URL='/entity-management/'
INTERNAL_ACCESS_TOKEN ="INTERNAL_ACCESS_TOKEN"
ACCESS_TOKEN_SECRET = "ACCESS_TOKEN_SECRET"
# DB 
MONGODB_URL=mongodb://localhost:27017/elevate-diksha

#service name
SERVICE_NAME = entity-management

#api doc endpoint
API_DOC_URL = "/entity-management/api-doc"

#Indicate If auth token is bearer or not
IS_AUTH_TOKEN_BEARER=false

